<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SQLite3 Practice</title>
  </head>
  <body>
    <h1>SQLite3 Practice</h1>
    <h2>Create New Files</h2>
    <form class="new-case" action="/case/file" method="POST">
      <input type="text" name="fileName" value="" placeholder="File Name">
      <input type="text" name="fileDescription" value="" placeholder="File Info">
      <label for="fileTags">Tags (Please separate with commas + space... i.e. ", ")</label>
      <input type="text" name="tags" value="" placeholder="Tags">
      <button type="submit" name="button">Create</button>
    </form>
  </body>
</html>
