<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>What case would you like to work on?</h1>
    <ul>
      {{#cases}}
  <a href="/{{case_id}}" name="{{case_id}}" value="{{case_name}}"><li>{{case_name}}</li></a>
      {{/cases}}
    </ul>
    <a href="/new-case">Add new case</a>
  </body>
</html>
